@import '../mixins/mixins';
@import '../common/var';

@include b2(error-page) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d2127;

    .image {
        display: inline-block;
        width: 228px;
        height: 170px;

        &.image-403 {
            background: url('~@/components/robo-403-404/images/403.png') no-repeat center;
            background-size: cover;
        }

        &.image-404 {
            background: url('~@/components/robo-403-404/images/403.png') no-repeat center;
            background-size: cover;
        }
    }

    .text-block {
        display: inline-block;

        .title {
            font-size: 32px;
            color: #eceded;
            margin-bottom: 10px;
        }

        .info {
            font-size: 20px;
            color: #bfc7d4;
        }

        @media (max-width: 1280px) {
            .title {
                font-size: 20px;
                color: #eceded;
                margin-bottom: 10px;
            }

            .info {
                font-size: 14px;
                color: #bfc7d4;
            }
        }
    }
}
